.browse {
    & .title {
        text-align: center;
    }

    &_list {
        margin-top: 35px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
